[Unit]
Description=Stu's automatic topology
After=network.target
StartLimitIntervalSec=0

[Service]
Environment=SAT_PORT=1600
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/sat

[Install]
WantedBy=multi-user.target
